@import './variables';
@import './main.scss';

.sidebar-container {
    width: $sidebar-width;
    height: 100vh;
    background-color: $pink-shade;
    background-image: linear-gradient(105deg, $pink-shade 0%, $blue-shade 74%);
}

.sidebar-items {
    div {
        padding: 10px 20px;
        @extend .row-align-center;

        &:hover {
            background-color: $blue-shade;
            border-right: solid 10px $pink-shade ;
        }

        svg {
            font-size: 20px;
            margin-right: 25px;
        }
    }

    .active {
        background-color: $blue-shade;
        border-right: solid 10px $pink-shade ;
    }

    a,
    a:hover,
    a:focus,
    a:active {
        text-decoration: none;
        color: inherit;
    }
}